.Slides_wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
}

.Slides {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease-out;
  /* width: 2610px; */
}

/* :not(:last-child) => li태그 막내는 멈춰!!  */
.Slides li:not(:last-child) {
  float: left;
  margin-right: 30px;
}

.controls {
  text-align: center;
  margin-top: 50px;
}

.controls span {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
}
